*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.inline-block{
    display: inline-block;
    margin: 5px;
   vertical-align:middle;
   
   
}

.logo{
    height: 60px;
    vertical-align:middle;

}

.container{
    background-color: rgb(224, 220, 220);
    padding: 30px 50px 30px 50px;
    
}

.tasto2{
    background-color:white;
   color: gray;
   border: 2px solid grey;
   border-radius: 5px;
    
}

.tasti{
background-color: rgb(83, 189, 224);
color: white;
padding: 5px;
border-radius: 5px;
border: 2px;

}

.bianco{
    background-color: white ;
    padding: 30px;
    width: 50%;
    margin: 0 auto;

}
    
.riga{
    background-color: rgb(24, 127, 236);
    border-radius: 5px;

}
.riga2{
    background-color: purple;
    border-radius: 5px;
}
.riga3{
    background-color: green;
    border-radius: 5px;
}
.riga4{
    background-color: orange;
    border-radius: 5px;
}
.riga5{
    background-color: rgb(255, 0, 153);
    border-radius: 5px;
}
.riga6{
    background-color: rgb(168, 203, 41);
    border-radius: 5px;
}
.distanza{
    margin-top: 30px;
    margin-bottom: 10px;
}
.nobot{
    list-style-type: none;
}

.distanza{
   border: 15px;
}
.ok{
    color: green;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 1px solid;
}
.ko{
    color: red;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 1px solid;
}